.bg1{
   /* The image used */
   background-image: url("images/pizza-on-brown-wooden-board-825661.jpg");


   /* Full height */
   height: 100vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-text{
  position: relative;
}

.create{
  margin-top: 150px;
  margin-left: 500px;
}

.welcome{
  font-family: 'Dancing Script', cursive;
  color: red;
  font-size: 100px;
}

.restaurant{
  font-family: 'Domine', serif;
  color: white;
  font-size: 150px;
}

.back{
  
  background-image: url("");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#order{
  font-display: black;
  font-family: 'Roboto', sans-serif;
}

