.bg1{
   /* The image used */
   background-image: url("../images/pizza-on-brown-wooden-board-825661.jpg");


   /* Full height */
   height: 100vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-text{
  color: white;
}

.back{
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

